<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Game Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
	    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
         integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
  
    <header id="top" class="bs-docs-nav navbar navbar-static-top">
	  <div class="container">
		<div class="navbar-header">
		  <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		</div>
		<nav id="bs-navbar" class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
			<li class="active"> <a href="welcome.html" th:href="@{/welcome.html}">Welcome</a> </li>
			<li> <a href="players.html" th:href="@{/players.html}">Players</a> </li>
			<li> <a href="games.html" th:href="@{/games.html}">Games</a> </li>
			<li> <a href="nights.html" th:href="@{/nights.html}">Nights</a> </li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="logs.html" th:href="@{/}">Logging</a></li>
		  </ul>
		</nav>
	  </div>
    </header>

	<div class="container bs-docs-container">
	  <div class="row">
	    <div class="col-md-9" role="main">
	      <div class="bs-docs-section">

			<h1 class="mainTitle">Games</h1>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
				  <tr>
					<th>Name</th>
					<th>Difficulty</th>
					<th>Approximate Time (min)</th>
					<th>Number of Plays</th>
				  </tr>
				  <tr th:each="game : ${games}">
					<td th:text="${game.name}">Ticket To Ride Junior</td>
					<td th:text="${game.difficulty}">Easy</td>
					<td th:text="${game.minutesToPlay}">30</td>
					<td th:text="${game.timesPlayed}">18</td>
				  </tr>
				</table>
			</div>

			<div id="addNewDiv">
				<p th:text="#{add.game}">Enter details here to add a new game</p>
				<form class="form-horizontal" action="games.html" method="post" th:attr="action=@{/games}" th:object="${game}">
				  <fieldset>
					<div class="form-group">
					  <label  class="col-sm-3 control-label" for="name" th:text="#{game.name}">Name: </label>
					  <input type="text" th:field="*{name}" />
					</div>
					<div class="form-group">
						<label  class="col-sm-3 control-label" for="name" th:text="#{game.difficulty}">Difficulty: </label>
						<select th:field="*{difficulty}">
							<option th:each="diff : ${T(com.edoatley.model.Difficulty).values()}" th:value="${diff}" th:text="${diff.description}">Easy</option>
						</select>
					</div>
					<div class="form-group">
					  <label class="col-sm-3 control-label" for="length" th:text="#{game.minutesToPlay}">Length (Minutes): </label>
					  <input type="text" th:field="*{minutesToPlay}" />
					</div>
					<div class="col-sm-offset-2 col-sm-10">
					  <button class="btn btn-default" type="submit" name="save" th:text="#{new.game.add}">Add Game</button>
					</div>
				  </fieldset>
				</form>
			</div>

		  </div>
		</div>
	  </div>
	</div>
  </body>
</html>