<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Games Night Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
         integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>     
  </head>

  <body>
  
    <header id="top" class="bs-docs-nav navbar navbar-static-top">
	  <div class="container">
		<div class="navbar-header">
		  <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		</div>
		<nav id="bs-navbar" class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
			<li class="active"> <a href="welcome.html" th:href="@{/welcome.html}">Welcome</a> </li>
			<li> <a href="players.html" th:href="@{/players.html}">Players</a> </li>
			<li> <a href="games.html" th:href="@{/games.html}">Games</a> </li>
			<li> <a href="nights.html" th:href="@{/nights.html}">Nights</a> </li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="logs.html" th:href="@{/}">Logging</a></li>
		  </ul>
		</nav>
	  </div>
    </header>

	<div class="container bs-docs-container">
	  <div class="row">
	    <div class="col-md-9" role="main">
	      <div class="bs-docs-section">

			<h1 class="mainTitle">Games Nights</h1>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
				  <tr>
					<th>Games Night Description</th>
					<th>Date</th>
					<th>Night Finished?</th>
					<th>Number of Games Played</th>
				  </tr>
				  <tr>
					<td th:text="${gamesnight.description}">Oatley Family Games Night</td>
					<td th:text="${gamesnight.date}">28/04/2017</td>
					<td th:text="${gamesnight.isFinished}">Yes</td>
					<td th:text="${gamesnight.numberOfGamesPlayed}">3</td>
				  </tr>
				</table>
			</div>
			
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
				  <tr>
					<th>Name</th>
					<th>Players</th>
					<th>Winner</th>
				  </tr>
				  <tr th:each="gp : ${gamesnight.gamesPlayed}">
					<td th:text="${gp.game.name}">Ticket To Ride Junior</td>
					<td><p th:each="plyr : ${gp.players}" th:text="${plyr.name}">Leo</p></td>
					<td th:text="${gp.winner.name}">Leo</td>
				  </tr>
				</table>
			</div>
			

			<div id="addNewDiv">
				<p th:text="#{add.gameplay}">Enter details here to add a new game night</p>
				<form class="form-horizontal" method="post" action="nights/gameplay/add.html" th:attr="action=@{'/nights/' + ${gamesnight.id} + '/gameplay'}" th:object="${gameplay}">
				  <fieldset>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="name" th:text="#{game.name}">Name of Game: </label>
						<select class="col-sm-4" th:field="*{game}">
							<option th:each="g : ${gameslist}" th:value="${g.id}" th:text="${g.name}">Ticket To Ride Junior</option>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" th:text="#{game.player.names}">People playing game:</label>
						<ul>
						  <li class="" th:each="player : ${playerslist}">
						    <input type="checkbox" th:field="*{players}" th:value="${player.id}" th:text="${player.name}" />
						  </li>
						</ul>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="name" th:text="#{winner.name}">Name of Game: </label>
						<select class="col-sm-4" th:field="*{winner}">
							<option th:each="player : ${playerslist}" th:value="${player.id}" th:text="${player.name}">Edd</option>
						</select>
					</div>
					<div class="col-sm-offset-4 col-sm-10">
					    <button class="btn btn-default" type="submit" name="save" th:text="#{new.gameplay.add}">Add Game Play</button>
					</div>
				  </fieldset>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </body>
</html>